.container {
    padding: 20px;
}

.lng-container {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.lng-sent {
    text-align: right;
}

.lngButton {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: transparent;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.bg-blue {
    background-color: skyblue;
    &:hover {
        background-color: darken(skyblue, 15%);
    }
}



.bg-red {
    background-color: red;
    &:hover {
        background-color: darken(red, 15%);
    }
}