html {
  font-size: 8px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

input {
  font-size: 100%;
}

input[type="text"] {
  width: 95%;
  white-space: normal;
}

select {
  font-size: 100%;
  width: 100%;
}

header {
  background-color: greenyellow;
  color: white;
  font-size: 200%;
  padding: 10px;
}

table, th, td{
  margin: 20px;
  border:1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}


th {
  background-color: skyblue;
}

td {
  height: 25px;
}

.select {
  border: none;
  background-color: skyblue;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.no-border {
  border: none;
  background-color: transparent;
}

.no-border:focus {
  outline: none;
}

.addButton {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  background-color: green;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  font-size: 150%;
  border-radius: 50%;
  color: white;
  font-size: 400%;
  cursor: pointer;
}

.generateButton {
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
}

.generateButton:hover {
  background-color: blueviolet;
}

.w-10 {
  width: 10%;
}

.w-25 {
  width: 25%;
}

.w-100 {
  width: 100%;
}

.disabled {
  background-color: gray;
}